################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/server.json
**/pgData
**/Lib
**/obj
**/bin
**/.vs
*.user
